<h1>Log in</h1>
<form action="/login" method="POST">
  <legend for="user_name"></legend>
  <input type="text" name="user_name">
  <legend for="password"></legend>
  <input type="password" name="password">
 
  <input type="submit" value="Submit">
</form>